/**********/
/* HEADER */
/**********/
header {
  background-color: #ededed;
}

.main-nav-links {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.4rem;
  list-style: none;
  font-size: 1.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #444;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAV */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6.4rem;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-section {
  margin-top: 6.4rem;
}

.why-section {
  scroll-margin-top: 4.8rem;
}
.know-section {
  scroll-margin-top: 4.8rem;
}
.content-section {
  scroll-margin-top: 4.8rem;
}
.who-section {
  scroll-margin-top: 4.8rem;
}
.cta-section {
  scroll-margin-top: 4.8rem;
}

/****************/
/* HERO SECTION */
/****************/
.hero-section {
  background-color: #407dda;
}

.hero-description {
  text-align: center;
}

.hero-description p {
  font-size: 1.6rem;
  color: #ededed;
  margin-bottom: 2.4rem;
}

.summary {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.cover {
  width: 30%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}

/***************/
/* WHY SECTION */
/***************/
.perc {
  font-size: 3rem;
}

.why-el {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.why-info {
  font-size: 1.8rem;
}

/*******************/
/* CONTENT SECTION */
/*******************/
.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.content-box {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 2.4rem;

  align-items: center;
  row-gap: 3.2rem;
  cursor: pointer;
}

.content-box-tab {
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* margin-bottom: 2.4rem; */
}

.content-box li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.number,
.module {
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 2.4rem;
}

.number {
  color: #ced4da;
}

.hidden-content {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;

  list-style: none;
  padding: 0 4.8rem;
}

.hidden-content li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.content-box.open .hidden-content {
  max-height: 100rem;
  padding: 2.4rem 4.8rem;
}

.open {
  border-top: 5px solid #cf711f;
}

.open .number,
.open .module {
  color: #cf711f;
}

/*******************/
/* FOR WHO SECTION */
/*******************/
.icon-big {
  width: auto;
  height: 19.2rem;
}

.who-el {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
}

.who {
  font-size: 1.8rem;
}

.who-desc {
  font-size: 1.6rem;
}

/***************/
/* CTA SECTION */
/***************/
.cta-section {
  background-color: #407dda;
  padding: 8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 6.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.25),
      rgba(230, 125, 34, 0.25)
    ),
    url(../img/person-working-on-computer.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

/* .cta-form label {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  background-color: #ededed;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
} */

.btn-form:link,
.btn-form:visited {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  margin-top: 2.4rem;
  /* padding: 0.8rem; */
  padding: 2.4rem 4.8rem;
  /* border-radius: 9px; */
  border-radius: 12px;
  /* font-size: 1.6rem; */
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  transition: all 0.3s;
}

.btn-form:hover,
.btn-form:active {
  background-color: #fff;
  color: #45260a;
}

.btn-form-box {
  display: flex;
  justify-content: center;
}

/******************/
/* FOOTER SECTION */
/******************/
.footer {
  padding: 6.4rem 0 3.2rem 0;
  text-align: center;
  border-bottom: 7px solid #e67e22;
}

.menu-section .main-nav-links {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  /* color: #767676; */
  margin-top: 6.4rem;
}

.year {
  font-weight: 400;
}

/*************************/
/* COOKIE BANNER SECTION */
/*************************/
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222;
  color: #e4e0e1;
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.cookie-banner p {
  margin: 0;
  font-size: 1.2rem;
}

/* .cookie-banner a {
  color: #00aaff;
  text-decoration: underline;
} */

.cookie-banner button {
  background-color: #e67e22;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.cookie-banner button:hover {
  background-color: #cf711f;
}
