/***************/
/* HEADER */
/***************/
header {
  background-color: #ededed;
}

.main-nav-links {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.4rem;
  list-style: none;
  font-size: 1.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/***************/
/* HERO SECTION */
/***************/
.hero-section {
  background-color: #407dda;
}

.hero-description {
  text-align: center;
}

.hero-description p {
  font-size: 1.6rem;
  color: #ededed;
  margin-bottom: 2.4rem;
}

.summary {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.cover {
  width: 30%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}

/***************/
/* WHY SECTION */
/***************/
.perc {
  font-size: 3rem;
}

.why-el {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.why-info {
  font-size: 1.8rem;
}

/***************/
/* CONTENT SECTION */
/***************/
.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.content-box {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 2.4rem;

  display: grid;
  grid-template-columns: auto 1fr auto;

  row-gap: 3.2rem;
  align-items: center;
}

.content-box li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.number,
.module {
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 2.4rem;
}

.number {
  color: #ced4da;
}

.hidden-box {
  grid-column: 2;
  list-style: none;
  /* display: none; */
}

.open {
  border-top: 5px solid #cf711f;
}

.open .number,
.open .module {
  color: #cf711f;
}
